/*----fonts--- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h3{
    margin-left: 120px;
    margin-bottom: 100px;
}
.first-journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    
}
.journey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.journey p{
    margin-left: 124px;
    font-size: 16px;
    line-height: 24px;
}
.title{
    font-size: 52px;
    margin-left: 120px;
}
.aero{
    margin-left: 15px;
}
.button{
background-color: #E02C6D;
border-radius: 41px;
width: 170px;
height: 44px;
margin-right: 230px;
color: white;
border: none;
cursor: pointer;
}
.camera:hover img{
    transform: rotate(180deg) scale(0.7);
    transition: transform 2.5s ease-in-out;
    overflow: hidden;
}
.camera img{
    width: 440px;
    height: 414px;
    left: 816px;
    top: 212px;
    background-image: url(../images/Circle\ design.svg);
    cursor: pointer;
}
/* ---------------
     collection design
      ------------------- */

      .collection-title{
          text-align: center;
          margin-top: 120px;
      }
      .collections{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;
          grid-column-gap: 20px;
          grid-row-gap: 25px;
          margin-left: 120px;
          margin-right: 100px;
          margin-top: 70px;
          margin-bottom: 50px;
      }
      .collection{
        width: 329px;
        height: 476px;
          background-color: #FFFFFF;
          box-shadow: 0px 0px 20px;
          border-radius: 5px;
          padding-left: 10px;
      }
      .collection-pic img{
        width: 300px;
        height: 256px;
      }
      .star{
          color: #FB8200;
          font-size: 12px;
      }
      .star-rating{
          color: black;
          margin-left: 13px;
          font-weight: 600;
      }
      .available{
          font-size: 14px;
      }
      .see-more{
        margin-left: 120px;
        padding-left: 50px;
        padding-top: 50px;
        
      }
      .see-more a{
          color: #E02C6D;
          text-decoration: none;
          
      }
      /* --------------
      My exploring design
      --------------------- */
      .exploring-things{
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          margin-bottom: 80px;
      }
      .macbook-pro img{
          width: 450px;
          height: 450px;
          margin-left: 120px;
          cursor: pointer;
      }
      .macbook-pro:hover img{
        transform: rotate(380deg) scale(0.7);
        transition: transform 2.5s ease-in-out;
        overflow: hidden;
     }
     .foot-element{
         background-color: #0A0826;
         color: whitesmoke;
         text-align: center;
         padding-top: 10px;
         padding-bottom: 10px;
         margin-bottom: 30px;
     }
     .foot-element h3{
         font-size: 24px;
     }
     
     .foot-icon{
         font-size: 25px;
     }
        
     



    